textarea {
    min-height: 400px;
}

#compose-photo {
    margin-top:15px;
}

#like {
    width:50px;
    height: 30px;
    background-color: white;
    border: none;
}

#like_img {
    width: 70px;
    height: auto;
    border-radius: 30px;
}

#like_img:hover {
    border: 2px solid rgb(192, 189, 189);
}

.email {
    border: 12px solid rgb(142, 142, 255);
    height:400px;
    width:300px;
    text-align:center;
    font-family: DrukWideBold;
    margin-bottom: 50px;
    margin-top: 25px;
}

.email:hover {
    box-shadow: 5px 5px 10px 2px rgb(142, 168, 255);
}

#emails-view {
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}

#compose2 {
    font-family:DrukWideBold;
    position:absolute;
    top:65%;
    size:100px;

    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline:none;
}

#compose2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#introdesc {
    position: absolute;
    top:50%;
    font-family: var(--bs-font-sans-serif);
    font-size:20px;
}



.intro {
    font-family: DrukWideBold;
    font-size: 70px;
    color: rgb(81, 100, 185);
    height:600px;
    
    /*background-image: url(images/bluecircle.png);*/
}


/*
.circles {
    position: relative;
    display:block;
    background-image: url(bluecircle.png);
    height:300px;
    width:300px;
    justify-content: center;
    align-items: center;
}
*/

.button-20 {
    font-family:DrukWideBold;
    border-radius: 25px;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 7px;
    height: 30px;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #8381e4;
  border-color: #3733E5;
  color:white;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(171, 178, 202, 0.842) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}


#useremail {
    margin-bottom:20px;
    margin-top:12px;
}

.emailas_photo {
    width: 400px;
    height: auto;
}

.emailas_photo img {
    width: 100%;
    height: auto;
}

.archive_btn {
    width:135px;
    height: 30px;
    border-radius: 25px;
}

.archive_btn:hover {
    background-color: #3a7bd5;
    color:white;
    
}

#nav_div {
    display: flex;
    justify-content: right;
}

#logout {
    margin-top: 9px;
}

body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;
}
